<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email</title>

	<style>
		body {
			background-color: #eee;
			margin: 0 auto;
			padding: 0;
			font-family: Arial, Helvetica, sans-serif;
			width: 50%;
		}

		header {
			background-color: #CDC5F9;
			height: 20vh;
			color: #555555;
			position: relative;
		}

		.logo {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -30%);
		}

		footer, header, .login-button-container {
			text-align: center;
		}
		
		footer {
			height: 10vh;
			color: #555555;
			bottom: 30px;
			width: 100%;
		}

		.footer-text {
			margin: 5px 0;
			font-size: 0.7rem;
		}

		footer, main {
			position: absolute;
			margin: 0;
		}

		main {
			height: 70vh;
			background-color: white;
			border-radius: 5px;
			width: 80%;
			top: 20vh;
			left: 10%;
			color: #555555;
			padding: 35px;
			box-sizing: border-box;
			box-shadow: 5px 5px 10px -3px grey;
		}

		.main-header {
			text-align: center;
		}

		.login-button-container {
			position: absolute;
			bottom: 15%;
			left: 50%;
			transform: translateX(-50%);
		}

		.login-button {
			width: 170px;
			height: 35px;
			border-radius: 20px;
			background-color: #00cc9f;
			display: inline-block;
			line-height: 35px;
			text-decoration: none;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			letter-spacing: 1px;
		}

		.login-button:hover {
			background-color: #00f0bb;
			color: white;
		}

		.text-container {
			margin: 30px;
		}

		.text-paragraph {
			text-indent: 10px;
		}
	</style>
</head>
<body>
	<header>
		<img class="logo" alt="logo" src="cid:logo" />
	</header>

	<main>
		<h2 class="main-header">Thank you for a registration!</h2>
		
		<div class="text-container">
			<p class="text-paragraph">Dear <strong>{{ receiverName }}</strong>, thank you for choosing our service.</p>
			<p class="text-paragraph">Your password: <strong>{{ password }}</strong>.</p>
			<p class="text-paragraph">Your login: <strong>{{ login }}</strong>.</p>
			<p class="text-paragraph">You may login in your account using a button.</p>
		</div>

		<div class="login-button-container">
			<a class="login-button" href="{{webAppLogin}}" target="_blank">Login</a>
		</div>
	</main>

	<footer>
		<p class="footer-text"><bold>Questions?</bold></p>
		<p class="footer-text">Send us email with you question to <a href="mailto:support@evsx.com">support@evsx.com</a></p>
		<p class="footer-text">This e-mail has been sent automatically, do not respond on it.</p>
	</footer>
</body>
</html>
